body
{
	font:12px Verdana, Geneva, sans-serif;
	background-color:#FFF;
	background-image:url('../images/patternbackground.png');
	background-position:top;
	color:#2b2b2b;
}

.Header
{
	float:left;
	/*max-width:690px;*/
	min-height:113px;
}

h1
{
	margin-top:5px;
	font-size:17px;
}

h2
{
	border-top:solid 1px #BBB;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	font-size:15px;
}

p
{
	margin-top:10px;
	margin-bottom:10px;
	line-height:18px;
}

a
{
	color:#00F;
}

a:hover
{
	color:#698bf9;
	text-decoration:none;
}

input[type="text"],input[type="password"]
{
	background-image:url('../images/field.gif');
	border-width:1px;
	border-color:#999;
	border-style:solid;
	margin:2px
}

ul.Menu
{
	float:left;
	list-style-type:none;
}

ul.Menu li
{
	display:block;
	float:left;
	line-height:26px;
	white-space:nowrap;
}

ul.Menu li a
{
	z-index:1;
	position:relative;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-radius: 10px 10px 0px 0px;
	
	border-color:#FFF #888 #FFF #FFF;
	border-style:solid;
	border-width:1px;
	border-bottom-width:0;
	
	-webkit-box-shadow: -1px -3px 3px #888;
	-moz-box-shadow: -1px -3px 3px #888;
	box-shadow: -1px -3px 3px #888;
	
	color:#000;
	/*font-weight:bold;*/
	padding:5px;
	
	background-color:#fef5e0;
	text-decoration:none;
	
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #fef5e0)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#fef5e0 100%
	);

}

ul.Menu li a:hover
{
	color:#00F;
	
	-webkit-box-shadow: -1px -6px 6px #FFF;
	-moz-box-shadow: -1px -6px 6px #FFF;
	box-shadow: -1px -6px 6px #FFF;
	
	border-color:#E4E4E4 #888 #FFF #FFF;
	
	background-color:#e0e7fe;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #e0e7fe)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#e0e7fe 100%
	);
}

ul.Menu li a img
{
	margin-bottom:-7px;
	padding-right:4px;
	margin-left:-3px;
}

div.SiteLogo
{
	text-align:center;
	min-width:318px;
	padding-top:10px;
	float:left;	
}

.Copyright
{
	font-size:10px;
	min-width:318px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.SigninForm
{
	float:right;
	width:240px;
	min-height:93px;
	padding-top:10px;
	padding-bottom:10px;
}

.SigninForm label
{
	float:left;
	width:60px;
	margin-right:10px;
	position:relative;
	top:3px;
}

.SigninForm a.CreateAccount
{
	margin-left:10px;
	margin-right:15px;
	position:relative;
	top:-4px;
}

.Welcome
{
	float:right;
	min-height:113px;
	width:240px;
	margin:5px;
	padding:10px;
}

.Welcome a
{
	margin-top:8px;
	display:block;
	text-decoration:none;
}

.Welcome a img
{
	padding-right:5px;
	position:relative;
	top:5px;
}

ul.BotList li
{
	background: #FFF;	
	width:238px;
	height:100px;
	padding:10px;
	margin:0 10px 10px 0;
	list-style:none;
	float:left;
	border-color:#888;
	border-style:solid;
	border-width:1px;
}

.Error
{
	color:#F00;
	font-weight:bold;
}

.Success
{
	color:#0F0;
	font-weight:bold;
}

.CreateAccount
{
	max-width:768px;
	text-align:right;
	margin:10px;
}

.CreateAccount div
{
	margin:10px 0;
}

.Container
{
	padding:0 10px;
}

#faq.Container strong
{
	font-weight:normal;
	color:#000;
}

.BreadCrump
{
	background-color:#FFF;
	border-top:solid 1px #AAA;
	border-bottom:solid 1px #AAA;
	margin-bottom:10px;
	padding-left:5px;
	
	margin-left:-10px;
	margin-right:-10px;
	
	background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(250,250,250)),
    color-stop(0.48, rgb(255,255,255)),
    color-stop(0.52, rgb(245,245,245)),
    color-stop(1, rgb(207,207,207))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(250,250,250) 0%,
		rgb(255,255,255) 48%,
		rgb(245,245,245) 52%,
		rgb(207,207,207) 100%
	);

}

.BreadCrump *
{
	padding:3px 6px;
	margin:0 1px 0 0;
	height:32px;
	line-height:32px;
	border: 1px solid #000;
	min-width:32px;
	text-decoration:none;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.BreadCrump span
{
	background-color:#AAA;
	color:#444;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DDD),
		color-stop(1, #666)
	);
	background:-moz-linear-gradient(
		center top,
		#DDD 0%,
		#666 100%
	);

}

.BreadCrump span.Selected
{
	color:#F00;
}

.BreadCrump a
{
	background-color:#3ba3f3;
	color:#FFF;
	
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(168,217,255)),
		color-stop(1, rgb(0,78,138))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(168,217,255) 0%,
		rgb(0,78,138) 100%
	);

}

.BreadCrump a:hover
{
	border-color:#FF0;
	color:#FF0;
	
	-moz-box-shadow: 0px 0px 15px #FC0;
	-webkit-box-shadow: 0px 0px 15px #FC0;
	box-shadow: 0px 0px 15px #FC0;
}

.BreadCrump span
{
}