body
{
	font:12px Verdana, Geneva, sans-serif;
	background-color:#52327a;
	background-image:url('../images/gradientbackground.png');
	background-repeat:repeat-x;
	background-position:top;
}

a
{
	color:#97d4df;
}

a:hover
{
	color:#FFF;
}

ul.Menu
{
	height:32px;
	background-image:url('../images/menubackground.png');
	background-repeat:repeat-x;
}

ul.Menu li
{
	display:inline;
	height:32px;
	line-height:32px;
}

ul.Menu li a
{
	color:#000;
	font-weight:bold;
	padding:0px 5px;
}

ul.Menu li a:hover
{
	color:#444;
}