#conversation
{
	font-family:"Courier New", "Lucida Console", Monaco
}

#conversation .AiConcept
{
	color:#2b91af;
}

#conversation .AiOperator
{
	color:#0000ff;
}

#conversation .HumanConcept
{
	color: #808000;
}

#conversation .HumanOperator
{
	color: #ff8c00;
}

#autoComplete
{
	border-style:solid;
	border-width:1px;
	width:144px;
	border-color:#88F;
	background-color:#FFF;
	height:152px;
	overflow-y:scroll;
	position:relative;
	z-index:1;
	/*visibility:hidden;*/
}