#conversation
{
	font-family:"Courier New", "Lucida Console", Monaco
}

#conversation .AiConcept
{
	color:#2b91af;
}

#conversation .AiOperator
{
	color:#0000ff;
}

#conversation .HumanConcept
{
	color: #808000;
}

#conversation .HumanOperator
{
	color: #ff8c00;
}