#conversation
{
	font-family:"Courier New", "Lucida Console", Monaco
}

#conversation .AiConcept
{
	color:#2b91af;
}

#conversation .AiOperator
{
	color:#0000ff;
}

#conversation .HumanConcept
{
	color: #808000;
}

#conversation .HumanOperator
{
	color: #ff8c00;
}

#autoComplete
{
	font-family:Tahoma;
	font-size:8pt;
	border-style:solid;
	/*border-width:2px;*/
	border-width:1px;
	/*border-color:#d4d0c8 #808080 #808080 #d4d0c8;*/
	width:144px;
	border-color:#88F;
	background-color:#FFF;
	height:152px;
	overflow-y:scroll;
	position:relative;
	z-index:1;
	visibility:hidden;
}