#humanStatementField
{
	background-image:none;
}

#conversation
{
	background-color:#FFF;
	font-family:"Courier New", "Lucida Console", Monaco;
	font-size:16px;
	border: 1px solid #999;
	/*-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.22) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.22) 0px 0px 10px inset;*/
	padding:5px;
}

#conversation .AiConcept
{
	color:#2b91af;
}

#conversation .AiOperator
{
	color:#0000ff;
}

#conversation .HumanConcept
{
	color: #808000;
}

#conversation .Commented
{
	color:#008000;
}

#conversation .Commented .AiConcept, #conversation .Commented .AiOperator
{
	color:inherit;
}

#conversation .HumanOperator
{
	color: #ff8c00;
}

#autoComplete
{
	font-family:Tahoma;
	font-size:8pt;
	border-style:solid;
	border-width:2px;
	border-color:#d4d0c8 #808080 #808080 #d4d0c8;
	width:220px;
	background-color:#FFF;
	height:155px;
	overflow-y:scroll;
	position:relative;
	z-index:1;
	visibility:hidden;
	/*-webkit-box-shadow:1px 1px 10px #000;
	-moz-box-shadow:1px 1px 10px #000;*/
}

#autoComplete div
{
	padding:2px;
	cursor:default;
	border-width:1px;
	border-color:#FFF;
	border-style:solid;
}

#autoComplete div.Selected
{
	background-color:#0a246a;
	color:#FFF;
	border-style:dotted;
	border-width:1px;
	border-color:#f5db95;
}

#conversation div.HumanBlock
{
	margin: 12px 0px;
	background-color:#f7f9ef;
	/*background:-webkit-gradient(linear, left bottom, left top, color-stop(0.4, #FFF), color-stop(0.5, #f7f9ef), color-stop(1, #FFF));
	background:-moz-linear-gradient(center bottom, #FFF 40%, #f7f9ef 50%, #FFF 100%);*/

}

#conversation div.AiBlock
{
	margin: 12px 0px;
	background-color:#f7fafb;
	/*background:-webkit-gradient(linear, left bottom, left top, color-stop(0.4, #FFF), color-stop(0.5, #f7fafb), color-stop(1, #FFF));
	background:-moz-linear-gradient(center bottom, #FFF 40%, #f7fafb 50%, #FFF 100%);*/
}

#conversation li
{
	margin-left:40px;
	margin-top:7px;
	margin-bottom:7px;
	list-style:none;
}