body
{
	font:12px Verdana, Geneva, sans-serif;
	background-color:#FFF;
	background-image:url('../images/patternbackground.png');
	background-position:top;
	color:#2b2b2b;
}

.Header
{
	float:left;
	/*max-width:690px;*/
	min-height:113px;
}

h1
{
	margin-top:5px;
	font-size:17px;
}

h2
{
	border-top:solid 1px #BBB;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	font-size:15px;
}

h3
{
	border-top:solid 1px #BBB;
	margin:0px 0px 0px 0px;
	padding-top:3px;
	font-size:13px;
}

p
{
	margin-top:10px;
	margin-bottom:10px;
	line-height:18px;
}

a, .Link
{
	color:#00F;
}

a:hover, .Link:hover
{
	color:#698bf9;
	text-decoration:none;
	cursor:pointer;
}

input[type="text"],input[type="password"]
{
	background-image:url('../images/field.gif');
	border-width:1px;
	border-color:#999;
	border-style:solid;
	margin:2px
}

ul.Menu
{
	float:left;
	list-style-type:none;
	max-width:686px;
}

ul.Menu li
{
	display:block;
	float:left;
	line-height:26px;
	white-space:nowrap;
}

ul.Menu li a
{
	z-index:1;
	position:relative;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-radius: 10px 10px 0px 0px;
	
	border-color:#FFF #888 #FFF #FFF;
	border-style:solid;
	border-width:1px;
	border-bottom-width:0;
	
	-webkit-box-shadow: -1px -3px 3px #888;
	-moz-box-shadow: -1px -3px 3px #888;
	box-shadow: -1px -3px 3px #888;
	
	color:#000;
	/*font-weight:bold;*/
	padding:5px;
	
	background-color:#fef5e0;
	text-decoration:none;
	
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #fef5e0)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#fef5e0 100%
	);

}

ul.Menu li a:hover
{
	color:#00F;
	
	-webkit-box-shadow: -1px -6px 6px #FFF;
	-moz-box-shadow: -1px -6px 6px #FFF;
	box-shadow: -1px -6px 6px #FFF;
	
	border-color:#E4E4E4 #888 #FFF #FFF;
	
	background-color:#e0e7fe;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #e0e7fe)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#e0e7fe 100%
	);
}

ul.Menu li a img
{
	margin-bottom:-7px;
	padding-right:4px;
	margin-left:-3px;
}

div.SiteLogo
{
	text-align:center;
	min-width:318px;
	padding-top:10px;
	float:left;	
}

.Copyright
{
	font-size:9px;
	min-width:318px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.SigninForm
{
	float:right;
	width:240px;
	min-height:93px;
	padding-top:10px;
	padding-bottom:10px;
}

.SigninForm label
{
	float:left;
	width:60px;
	margin-right:10px;
	position:relative;
	top:3px;
}

.SigninForm a.CreateAccount
{
	margin-left:10px;
	margin-right:15px;
	position:relative;
	top:-4px;
}

.SigninForm
{
	float:right;
	min-height:83px;
	width:230px;
	margin:5px;
	padding:10px;
}

.SigninForm p
{
	margin:0px;
	padding:0px;
}

.SigninForm a
{
	text-decoration:none;
}

.SigninForm a img, .SigninForm span.Link img
{
	padding-right:5px;
	position:relative;
	top:5px;
}

ul.BotList li
{
	background: #FFF;	
	width:278px;
	height:135px;
	padding:10px;
	margin:0 10px 10px 0;
	list-style:none;
	float:left;
	border-color:#888;
	border-style:solid;
	border-width:1px;
}

ul.BotList li p
{
	margin-top:3px;
	margin-bottom:3px;
}

ul.BotList li p.BotName
{
	margin-bottom:10px;
}

ul.BotList li div.Owner
{
	margin-top:10px;
	margin-bottom:3px;
}

.Error
{
	color:#F00;
	font-weight:bold;
}

.Success
{
	color:#0A0;
	font-weight:bold;
}

.CreateAccount
{
	max-width:768px;
	text-align:right;
	margin:10px;
}

.CreateAccount div
{
	margin:10px 0;
}

.Container
{
	padding:0 10px;
}

#faq.Container strong
{
	font-weight:normal;
	color:#000;
}

.BreadCrump
{
	background-color:#FFF;
	border-top:solid 1px #AAA;
	border-bottom:solid 1px #AAA;
	margin-bottom:10px;
	padding-left:5px;
	
	margin-left:-10px;
	margin-right:-10px;
	
	background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(250,250,250)),
    color-stop(0.48, rgb(255,255,255)),
    color-stop(0.52, rgb(245,245,245)),
    color-stop(1, rgb(207,207,207))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(250,250,250) 0%,
		rgb(255,255,255) 48%,
		rgb(245,245,245) 52%,
		rgb(207,207,207) 100%
	);

}

.BreadCrump *
{
	padding:3px 6px;
	margin:0 1px 0 0;
	height:32px;
	line-height:32px;
	border: 1px solid #000;
	min-width:32px;
	text-decoration:none;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.BreadCrump span
{
	background-color:#AAA;
	color:#444;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DDD),
		color-stop(1, #666)
	);
	background:-moz-linear-gradient(
		center top,
		#DDD 0%,
		#666 100%
	);

}

.BreadCrump span.Selected
{
	color:#F00;
	-moz-box-shadow: 0px 0px 5px #F00;
	-webkit-box-shadow: 0px 0px 5px #F00;
	box-shadow: 0px 0px 5px #F00;
}

.BreadCrump a
{
	background-color:#3ba3f3;
	color:#FFF;
	
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(168,217,255)),
		color-stop(1, rgb(0,78,138))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(168,217,255) 0%,
		rgb(0,78,138) 100%
	);

}

.BreadCrump a:hover
{
	border-color:#FF0;
	color:#FF0;
	
	-moz-box-shadow: 0px 0px 15px #FC0;
	-webkit-box-shadow: 0px 0px 15px #FC0;
	box-shadow: 0px 0px 15px #FC0;
}

.AiProfile
{
	border:1px #AAA solid;
	background-color:#FFF;
	padding:10px;
}

.AiProfile h2
{
	border-top-style:none;
}

.ChatWith img
{
	position:relative;
	top:8px;
	padding-right:5px;
}

.ChatWith
{
	border:1px solid #686868;
	padding:6px;
	
	color:#F00;
	font-weight:bold;

	
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
	background-color:#ffeec5;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #ffeec5)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#ffeec5 100%
	);
}

.ChatWith:hover
{
	-moz-box-shadow: 0px 0px 15px #FC0;
	-webkit-box-shadow: 0px 0px 15px #FC0;
	box-shadow: 0px 0px 15px #FC0;
	
	background-color:#e0e7fe;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(1, #e0e7fe)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#e0e7fe 100%
	);
	
	color:#000;
}

.Rating
{
	height:12px;
	padding-top:10px;
}

.RatingLabel
{
	font-size:9px;
	width:40px;
	float:left;
	text-align:right;
	padding-right:10px;
}

.RatingBar
{
	float:left;
	height:8px;
	border: 1px #000 solid;	
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	position:relative;
	top:3px;
}

.RatingBarUp
{
	background-color:#8F8;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(0.5, #8F8),
		color-stop(1, #000)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#8F8 50%,
		#000 100%
	);
}

.RatingBarDown
{
	background-color:#F84;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFF),
		color-stop(0.5, #F84),
		color-stop(1, #000)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#F84 50%,
		#000 100%
	);
}

.RatingButton
{
	margin-left:5px;
	position:relative;
	top:-4px;
	cursor:pointer;
	border:1px solid #686868;
	padding:1px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
	background-color:#DDD;
	margin-right:7px;
	
	background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #EEE),
    color-stop(1, #CCC)
	);
	background:-moz-linear-gradient(
		center top,
		#EEE 0%,
		#CCC 100%
	);
}

.RatingButton:hover
{
	background-color:#EEE;
	background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFF),
    color-stop(1, #DDD)
	);
	background:-moz-linear-gradient(
		center top,
		#FFF 0%,
		#DDD 100%
	);
}

.RatingButton#rateUp:hover
{
	border-color:#0A0;
}

.RatingButton#rateDown:hover
{
	border-color:#F00;
}

#ratingMessageOutput
{
	margin-top:15px;
	display:none;
	max-width:240px;
	max-height:48px;
	padding:4px;
	border:solid 1px #08A;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#savingMessageOutput
{
	display:none;
	
	padding:4px;
	border:solid 1px #08A;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	overflow-y:scroll;
	overflow-x:hidden;
	
	float:left;
	margin-top:0px;
	margin-left:5px;
	background-color:#FFF;
	max-width:300px !important;
	max-height:66px !important;
}

#saveButton
{
	float:left;
}

a.Icon
{
	margin-top:10px;
	margin-bottom:5px;
	margin-right:10px;
	height:48px;
	display:block;
	float:left;
	width:240px;
	text-decoration:none;
	
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:solid 1px #888;
	background-color:#FFF;
	padding:4px;
}

a.Icon img
{
	padding-right:10px;
}

a span
{
	position:relative;
	top:-17px;
}

a.Icon:hover
{
	-moz-box-shadow: 0px 0px 15px #FC0;
	-webkit-box-shadow: 0px 0px 15px #FC0;
	box-shadow: 0px 0px 15px #FC0;
	color:#F80;
}

.AvatarAccountSettings
{
	float:left;
}

.AccountSettingsAiUnit
{
	display:block;
	float:left;
	min-width:300px;
	min-height:20px;
	padding:5px;
	border:1px solid #AAA;
	
	margin-top:10px;
	margin-bottom:10px;
	
	margin-right:10px;
	
	background-color:#FFF;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.AccountSettingsAiUnit div
{
	display:block;
	float:left;
	width:230px;
	padding-right:20px;
	
	min-height:20px;
}

.AccountSettingsAiUnit a
{
	display:block;
	float:left;
	min-height:20px;
	min-width:60px;
	text-align:center;
	background-repeat:no-repeat;
	background-position:center;
	min-height:32px;
	text-decoration:none;
}

.AccountSettingsAiUnit a span
{
	visibility:hidden;
}

.AccountSettingsAiUnit a:hover span
{
	visibility:visible;
	z-index:2;
	position:static;
	background-color:#000;
	color:#FC3;
}

.AccountSettingsAiUnit a.Delete
{
	background-image:url('../images/delete.png');
}

.AccountSettingsAiUnit a.Settings
{
	background-image:url('../images/settings.png');
}

.AccountSettingsAiUnit a.Train
{
	background-image:url('../images/train.png');
}

.AccountSettingsAiUnit a.ViewProfile
{
	background-image:url('../images/profile.png');
}

.AiProfile .Avatar
{
	float:left;
	display:block;
	position:relative;
	top:-15px;
	left:-8px;
}

ul.BotList li .Avatar
{
	float:right;
}

#avatarForm
{
	margin-top:15px;
}

#avatarForm div.AvatarRadioButton
{
	float:left;
	padding:5px;
	width:69px;
	height:50px;
	border:1px #888 solid;
	margin-left:4px;
	margin-bottom:4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#avatarForm div.Checked
{
	background-color:#ADF;
	border-color:#FFF;
}

#avatarForm div *
{
	float:left;
}

.AiUnitChatControls
{
	position:absolute;
	bottom:10px;
	right:30px;
	height:170px;
}

.AiUnitChatControls img.Avatar
{
	float:left;
	margin-right:5px;
}

.AiUnitChatControls .Names
{
	float:left;
}

.AiUnitChatControls div.AiName
{
	font-weight:bold;
	position:relative;
	top:5px;
}

.AiUnitChatControls .SiteName
{
	color:#800;
	margin-bottom:5px;
	font-weight:bold;
	font-size:11px;
	width:150px;
}

.AiUnitChatControls .Owner
{
	margin-top:8px;
	width:200px;
	margin-bottom:10px;
}

.AiUnitChatControls .Button
{
	padding:4px;
	border:1px solid #888;
	background-color:#F8F8F8;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	display:block;
	min-width:24px;
	max-width:36px;
	text-align:center;
}

.AiUnitChatControls .Button:hover
{
	background-color:#FFF;
	-moz-box-shadow: 0px 0px 15px #FC0;
	-webkit-box-shadow: 0px 0px 15px #FC0;
	box-shadow: 0px 0px 15px #FC0;
	color:#F00;
	border-color:#F00;
}

#videotutorial li
{
	margin-left:15px;
	margin-top:9px;
	margin-bottom:9px;
}